<div>
  <ul class="container-navbar">
    <li class="navbar-list">
      <div class="navbar-item">
        <a class="btn-navbar" [routerLink]="['/']">Home</a>
      </div>
    </li>
    <li class="navbar-list">
      <a class="btn-navbar" [routerLink]="['/products']" *ngIf="isShowSignIn"
        >Products</a
      >
    </li>
    <li class="navbar-list">
      <a class="btn-navbar">Contact</a>
    </li>
    <li class="navbar-list">
      <a class="btn-navbar">About</a>
    </li>

    <li class="navbar-sign-in">
      <a class="btn-navbar" [routerLink]="['/signIn']" *ngIf="!isShowSignIn"
        >SignIn</a
      >
    </li>

    <li class="navbar-sign-out">
      <a class="btn-navbar" (click)="signOut()" *ngIf="isShowSignIn">SignOut</a>
    </li>

    <li class="navbar-icon">
      <p style="vertical-align: top">
        <mat-icon class="btn-navbar">shopping_cart</mat-icon>
        {{ itemSelectCount }}
      </p>
    </li>
  </ul>
</div>
