.container-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar-list {
    float: left;
  }
  
  .navbar-sign-in {
    float: right;
  }

  .navbar-sign-out {
    display: block;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    float: right;
    cursor: pointer;
  }

  .navbar-icon{
    display: block;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    float: right;
    cursor: pointer;
  }
  
  .navbar-list .btn-navbar {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-sign-in .btn-navbar {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar-list :hover {
    background-color: gray;
  }

  .container-notification{
    position: relative;
  }

  .notification{
    position: absolute;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding-top: 0.2rem;
    top: -0.3em;
    left: 1em;
  }
  