<header class="container">
  <ul class="container-navbar">
    <li class="navbar-list">
      <div class="navbar-item">
        <a class="btn-navbar" [routerLink]="['/']">Home</a>
      </div>
    </li>
    <li class="navbar-list">
      <a class="btn-navbar" [routerLink]="['/products']">Product</a>
    </li>
    <li class="navbar-list">
      <a class="btn-navbar" [routerLink]="['/category']">Category</a>
    </li>
    <li class="navbar-list">
      <a class="btn-navbar" [routerLink]="['/history', userId]">History</a>
    </li>
    <li class="navbar-list" *ngIf="role == 'admin'">
      <a class="btn-navbar" [routerLink]="['/history', userId]">Dashboard</a>
    </li>
  </ul>

  <ul class="container-navbar">
    <li class="navbar-item">
      <a class="btn-navbar" [routerLink]="['/signIn']" *ngIf="!isShowSignIn"
        >SignIn</a
      >
    </li>

    <li class="navbar-item">
      <a class="btn-navbar" [routerLink]="['/signUp']" *ngIf="!isShowSignIn"
        >SignUp</a
      >
    </li>

    <li class="navbar-item" *ngIf="isShowSignIn">
      <div class="container-notification" [routerLink]="['/order']">
        <mat-icon class="btn-navbar">shopping_cart</mat-icon>
        <div class="notification" *ngIf="itemSelectCount > 0">
          {{ itemSelectCount }}
        </div>
      </div>
    </li>

    <li class="navbar-item">
      <div
        class="container-logout"
        [routerLink]="['/user', userId]"
        *ngIf="isShowSignIn"
      >
        <mat-icon class="btn-navbar">person</mat-icon>
      </div>
    </li>

    <li class="navbar-item">
      <div class="container-logout" (click)="signOut()" *ngIf="isShowSignIn">
        <mat-icon class="btn-navbar">logout</mat-icon>
      </div>
    </li>
  </ul>
</header>
