<div class="container">
  <div *ngFor="let product of products" class="container-box">
    <div class="box">
      <div class="container-box-name">
        <a
          class="btn-product"
          [title]="product.name + ' details'"
          [routerLink]="['/product-detail', product.id]"
        >
          {{ product.name }}
        </a>
      </div>

      <div class="container-box-image">
        <img
          style="width: 300px"
          src="http://localhost:3000/images/{{ product.img }}"
          alt=""
        />
      </div>

      <div class="container-body">
        <div class="container-box-price">
          <p>Price: {{ product.price }}</p>
        </div>
        <div class="container-btn-edit" *ngIf="role == 'admin'">
          <button
            class="btn-edit"
            [routerLink]="['/product-detail', product.id]"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
