.container{
    margin: 130px 25%;
    border: 2px solid black;
    border-radius: 14px;
}

.container-header{
    text-align: center;
    padding: 15px;
}

.container-body{
    padding: 5px;
}

.box{
    display: flex
}

.box-text{
    display: block;
    width: 25%; 
    text-align: center;
    margin: 5px;
    padding-top: 5px;
}

.container-btn{
    margin: 5px;
}

.btn-save{
    padding: 6px; 
    width: 60px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-back{
    padding: 6px; 
    width: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.495);
    cursor: pointer;
}

table, th, td {
    border:1px solid black;
  }

.container-table{
    width: 100%;
}

.btn-delete{
    padding: 6px; 
    width: 60px;
    background-color: rgb(250, 20, 20);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-body-empty{
    height: 160px;
    position: relative;
}

.body-empty{
    width: 60%;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 18%;
}